__pycache__/
*.pyc

.env
*.env
*.key
*.pem
*.token
.go.mod

# Diretórios de configuração/dados gerados pelos containers
# (cobre config/, config/logs/, config/database.db etc. de qualquer serviço)
config/
data/
cache/
work/

# execao para o hompepage
!homepage/config/
!homepage/config/*.yaml
!homepage/config/*.css
!homepage/config/*.env

# Pastas específicas de dados que não seguem o padrão "config/"
monitoring/prometheus-data/
monitoring/grafana-data/
scrutiny/influxdb/
ntopng/redis-data/
ntopng/ntopng-data/
jellyfin/cache/
jellyfin/media/
navidrome/music/
installer/json

# Tailscale
tailscale/

# Bancos de dados e logs
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.log

# Sistema
.DS_Store
Thumbs.db


immich-app/*
!immich-app/env-example.env

kopia/*
!kopia/env-example.env